<!--This file will get open after clicking on "Create new listing" button on main page through NEW Route.-->

<!--There is no boiler plate code of HTML here.-->

<% layout('/layouts/boilerplate') %> <!--Writing this line so that we can use sub template code of boilerplate.ejs-->
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3><b>Edit the Listing</b></h3>
            <form 
                method="POST" 
                action="/listings/<%= listing._id %>?_method=PUT" 
                novalidate
                class="needs-validation"
                enctype ="multipart/form-data"
                >
                
                <div class="mb-3"><!--Here we have written "mb-3" because, it is a bootstrap class which will be give margin bottom spacing 3 and we have writtrn it in all div-->
                    <label for="title" class="form-label">Title</label>
                    <!--name="listing[title]" we will writing this beacuse we are making them as a object i.e. listing here and key title.
                        So, we are making key value pair of lsiting object.-->
                    <!--It will be same for rest all like description, image, price, location, country, etc.-->
                    <input 
                        name="listing[title]" 
                        placeholder="Enter a catchy title"
                        value= "<%= listing.title %>"
                        type="text"
                        class="form-control"
                        required
                    />
                    <div class="valid-feedback">Title looks good</div>
                    <div class="invalid-feedback">Please give a title</div>
                </div>
                
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea 
                        name="listing[description]" 
                        type="text"
                        class="form-control"
                        required
                        ><%=listing.description%>
                        </textarea>
                        <div class="invalid-feedback">Please enter short description</div>
                </div>
                
                <div class="mb-3">
                    Original Listing Image <br/>
                    <img src="<%= originalImageUrl %>" class="edit-img"  />
                </div>


                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input 
                        name="listing[image][url]" 
                        type="file"
                        class="form-control"
                    />
                    required
                </div>
                
                
                <div class="row"> <!--Here putting price and coountry within a same div so that they come in same line-->

                    <div class="mb-3 col-md-4"><!--Here we have added col-md-4 with price and col-md-8 with country so that in medium screen 
                                                size or larger than medium size both price and location must come in same line in which price
                                                will take 4 size and country will take 8 size. But in screen size smaller than medium they both 
                                                go in different lines.-->

                        <label for="price" class="form-label">Price</label>
                        <input 
                            name="listing[price]" 
                            value="<%=listing.price%>"
                            
                            class="form-control"
                            required
                        />
                        <div class="invalid-feedback">Please enter a valid price.</div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input 
                            name="listing[country]" 
                            value=" <%= listing.country %> "
                            type="text"
                            class="form-control"
                            required
                        />
                        <div class="invalid-feedback">Please enter a valid country name</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input 
                        name="listing[location]" 
                        value=" <%=listing.location %>"
                        type="text"
                        class="form-control"
                        required
                    />
                    <div class="invalid-feedback">Please enter a valid Location</div>
                </div>
                <button class="btn btn-dark edit-btn mt-3">Edit</button><!--Here we have written "btn-dark" because, it is a bootstrap class which will give dark background color to button-->
                                                                        <!--Here, we have given class "edit-btn" so that we can give custom dtyling to button.-->
            </form>
    </div>
</div>
